/* @font-face {
    font-family: YekanBakh;
    src: url(./assets/fonts/TTF/YekanBakhFaNum-Black.ttf);
    src: url(./assets/fonts/TTF/YekanBakhFaNum-Bold.ttf);
    src: url(./assets/fonts/TTF/YekanBakhFaNum-ExtraBlack.ttf);
    src: url(./assets/fonts/TTF/YekanBakhFaNum-ExtraBold.ttf);
    src: url(./assets/fonts/TTF/YekanBakhFaNum-Light.ttf);
    src: url(./assets/fonts/TTF/YekanBakhFaNum-Regular.ttf);
    src: url(./assets/fonts/TTF/YekanBakhFaNum-SemiBold.ttf);
    src: url(./assets/fonts/TTF/YekanBakhFaNum-Thin.ttf);
}
* {
    font-family: YekanBakh;
} */